@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
    user-select: none;
}

.addTask {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.inputTask {
    height: 30px;
    width: 300px;
    border: #b298dc 2px solid;
    border-radius: .5rem;
}

.addButton {
    color: white;
    width: 150px;
    height: 30px;
    background-color: #b298dc;
    padding: 3px;
    border-radius: .3rem;
    align-content: center;
    text-align: center;
    margin-left: 20px;
}