* {
    user-select: none;
}

.allTasks {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.tasks {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 520px;
    min-height: 400px;
    height: fit-content;
    border-radius: .5rem;
    padding: 0px;
}